#image-small {
    max-height: 325px;
    max-width: 325px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  #title-small {
    text-align: center;
    margin-top: 80x;
  }
  
  .h1-small {
    font-weight: 400;
    font-family: "Montserrat";
    font-size: 48px;
    color: white;
  }
  
  #tribute-info-small {
    display: block;
    margin: 0 auto;
    text-align: center;
    min-width: 50px;
    max-width: 500px;
    font-size: 15px;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #img-caption-small {
    min-width: 50px;
    max-width: 500px;
    font-size: 18px;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: 0 auto;
  }
  
  #tribute-link-small {
    display: block;
    min-height: 50px;
    min-width: 180px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    background: #e74c3c;
    width: 50%;
    text-align: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.2s;
    box-sizing: border-box;
  }
  
  .timeline-small {
    width: 100%;
    margin-top: 900px;
    position: absolute;
    z-index: -1;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    overflow: hidden;
    text-align: center;
  
    top: 0;
    left: 0;
  
    background-color: white;
    font-family: "Montserrat", sans-serif;
  
    flex-direction: column;
  }
  
  .timeline-small::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #00203fff;
    top: 0;
    bottom: 0;
    left: 35px;
    margin-top: 135px;
  }
  
  #timeline-header-small {
    margin-top: 70px;
    color: black;
    font-family: font-title;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 2.6em;
  }
  
  #small {
    display: none;
  }
  
  
  @media screen and (max-width: 1050px) {
    #small {
      display: inline-block;
    }
    #big {
      display: none;
    }
  }
  